/AssetManager/.vs
/AssetManager/BLL/bin
/AssetManager/BLL/obj
/AssetManager/DAL/bin
/AssetManager/DAL/obj
/AssetManager/Model/bin
/AssetManager/Model/obj
/AssetManager/MvcUI/bin
/AssetManager/MvcUI/obj
