@Styles.Render("~/Content/themes/css/Partial")
<div id="main">
    <div class="title">
        <span id="Place">当前位置：</span><span id="PersonInfoValues">首页</span>
    </div>
    <div id="bigmap">

    </div>
</div>
